<html5>
<head>
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/course_management.js"></script>
    <script src="{{ STATIC_URL }}js/change_course.js"></script>
</head>
<body>
<h1>edit course</h1>
<p>
说明：直接点击课程名、班级名修改。
</p>

<p>
<span>课程名</span><p id="change_course_name" data-course-id="{{course.id}}" name="change_course_name" onclick="change_course_name(this)">{{course.name}}</p>
</p>

<h2>班级管理</h2>
    <ul class="class_ul">
        {% for classroom in course.classrooms %}
            <span>班级名</span><p id="change_classroom_name" data-classroom-id="{{classroom.id}}" name="change_classroom_name" onclick="change_classroom_name(this)">{{classroom.name}}</p>
        {% endfor %}
    </ul>
</form>
<a href="{% url my_course %}">my cource</a>
</body>
</html5>
