<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
      <a href="userinfo.html" class="link">个人信息</a>
    </div>
    <div class="center sliding">我的课程</div>
    <div class="right">
      <a href="#" class="link open-panel">课程管理</a>
    </div>
  </div>
</div>

<div data-page="course" class="page no-toolbar">
  <div class="page-content">
    <div class="content-block">
      <% if(1){ %>
      <div class="content-block-title">电子电路原理<a href="editcourse.html" class="link">编辑</a></div>
      <div class="list-block">
        <ul>
          <li class="item-content">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title"><a href="editclass.html" class="">向日葵班</a></div>
              <div class="item-after">班级管理</div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">大象班</div>
              <div class="item-after"><span class="badge">5</span></div>
            </div>
          </li>
        </ul>
        <div class="list-block-label">课程简介可以放这里</div>
      </div>

      <div class="content-block-title">理论力学<a href="#" class="link">编辑</a></div>
      <div class="list-block">
        <ul>
          <li class="item-content">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">向日葵班2</div>
              <div class="item-after">班级管理</div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">大象班2</div>
              <div class="item-after"><span class="badge">3</span></div>
            </div>
          </li>
        </ul>
        <div class="list-block-label">课程简介可以放这里2</div>
      </div>
      <% } %>

      <p class=""><a href="newcourse.html" class="button button-fill">点击创建课程</a></p>
    </div>
  </div>
</div>
