<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
      <a href="#" class="back link">后退</a>
    </div>
    <div class="center sliding">编辑课程信息</div>
  </div>
</div>

<div data-page="editcourse" class="page no-toolbar">
  <div class="page-content">
    <div class="content-block">
    	<p class="tac">课程名称</p>
    	<p class="tac"><input type="text" placeholder="如：流体力学" value="电子电路原理"></p>
    	<p class="tac">班级管理</p>
    	<div class="list-block">
    	  <ul>
    	    <li class="swipeout">
    	      <div class="swipeout-content item-content">
    	        <div class="item-media"><i class="icon icon-f7"></i></div>
    	        <div class="item-inner">向日葵班</div>
    	      </div>
    	      <div class="swipeout-actions-right">
    	        <a href="#" class="swipeout-delete" data-confirm="你确定要删除该班级吗?" data-confirm-title="删除">删除</a>
    	      </div>
    	    </li>

    	    <li class="swipeout">
    	      <div class="swipeout-content item-content">
    	        <div class="item-media"><i class="icon icon-f7"></i></div>
    	        <div class="item-inner">大象班</div>
    	      </div>
    	      <div class="swipeout-actions-right">
    	        <a href="#" class="swipeout-delete" data-confirm="你确定要删除该班级吗?" data-confirm-title="删除">删除</a>
    	      </div>
    	    </li>
    	   
    	  </ul>
    	</div>
    	<p class="tac"><input type="text" placeholder="添加班级"></p>

      <p><a href="course.html" class="button button-fill">完成</a></p>
    </div>
  </div>
</div>
