<div class="views">
  <div class="view view-main">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <a href="#" data-popup=".popup-userinfo" class="open-popup">个人信息</a>
        </div>
        <div class="center sliding">电子电路原理-向日葵班</div>
        <div class="right">
          <a href="#" class="link open-panel">课程管理</a>
        </div>
        <!-- Sub navbar -->
        <div class="subnavbar">
          <div class="buttons-row">
            <a href="#tab1" class="button tab-link active">教学日志</a>
            <a href="#tab3" class="button tab-link">学生管理</a>
          </div>
        </div>
      </div>
    </div>
    <div class="pages navbar-through">
      <!-- Pag has additional "with-subnavbar" class -->
      <div data-page="home" class="page with-subnavbar no-toolbar">
        <div class="page-content hide-bars-on-scroll">
          <div class="tabs">
            <div id="tab1" class="tab active">
              <div class="content-block">
                <p>Lorem ipsum dolor ...</p>
                <p>In sed augue non ...</p>
              </div>
            </div>
            
            <div id="tab3" class="tab">
              <div class="content-block">
                <div class="list-block">
                  <ul>
                    <li class="swipeout">
                      <div class="swipeout-content item-content">
                        <div class="item-media"><i class="icon icon-f7"></i></div>
                        <div class="item-inner">几十块地方1</div>
                      </div>
                      <div class="swipeout-actions-right">
                        <a href="#" class="swipeout-delete" data-confirm="你确定要删除该班级吗?" data-confirm-title="删除">删除</a>
                      </div>
                    </li>

                    <li class="swipeout">
                      <div class="swipeout-content item-content">
                        <div class="item-media"><i class="icon icon-f7"></i></div>
                        <div class="item-inner">几十块地方2</div>
                      </div>
                      <div class="swipeout-actions-right">
                        <a href="#" class="swipeout-delete" data-confirm="你确定要删除该班级吗?" data-confirm-title="删除">删除</a>
                      </div>
                    </li>

                    <li class="swipeout">
                      <div class="swipeout-content item-content">
                        <div class="item-media"><i class="icon icon-f7"></i></div>
                        <div class="item-inner">几十块地方3</div>
                      </div>
                      <div class="swipeout-actions-right">
                        <a href="#" class="swipeout-delete" data-confirm="你确定要删除该班级吗?" data-confirm-title="删除">删除</a>
                      </div>
                    </li>
                   
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  