<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
      <a href="#" class="back link">
        <i class="icon icon-back-blue"></i>
        <span>后退</span>
      </a>
    </div>
    <div class="center sliding">登录</div>
    <div class="right">
      <a href="#" class="link icon-only open-panel"><i class="icon icon-bars-blue"></i></a>
    </div>
  </div>
</div>

<div data-page="login" class="page no-toolbar">
  <div class="page-content">
    <div class="content-block">
      <p>这里是登录界面!</p>
      <p>微信登录还是输入账号登录？</p>
      <p class="login_wrap"><a href="edituserinfo.html" class="button button-fill">点此填写个人信息</a></p>
    </div>
  </div>
</div>
